:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-gray-darkgrey: #181818ff;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-gray-brightgray: #202020ff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: #ffffff;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 20px;
  transition: 0.3s;
  font-family: Lexend Deca;
  padding-top: 10px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-image: linear-gradient(148.99deg, rgb(198, 0, 0) 11.01%, rgb(182, 0, 198) 90.18%);
}
.button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 0px #000000;
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.headermenulink {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  transition: 0.3s;
  font-family: Lexend Deca;
  margin-left: var(--dl-space-space-twounits);
  padding-left: 50px;
  text-decoration: none;
}
.headermenulink:hover {
  color: #ffffff;
}
.headermenulink:active {
  color: #ffffff;
}
.socialmedia_icon {
  width: 45px;
  height: 45px;
  opacity: 0.5;
  object-fit: cover;
  transition: 0.3s;
  margin-left: 9px;
  margin-right: 9px;
  text-decoration: none;
}
.socialmedia_icon:hover {
  opacity: 1;
}
.product_promoteblock_link {
  color: #ffffff;
  opacity: 0.5;
  transition: 0.3s;
  font-family: Lexend Deca;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.product_promoteblock_link:hover {
  opacity: 1;
}
.primary_button {
  color: #ffffff;
  font-size: 20px;
  background: linear-gradient(148.99deg, #C60000 11.01%, #B600C6 90.18%); ;
  box-shadow: 5px 5px 10px 0px #000000;
  font-family: Lexend Deca;
  padding-top: 10px;
  border-width: 0px;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

.mobilemenu {
  flex: 1;
  width: auto;
  height: 100%;
  display: none;
  overflow: hidden;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
}

.mobilemenuheader {
  margin-bottom: var(--dl-space-space-unit);
}
.eventblockpreview {
  width: 459px;
  height: 256px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: 150px;
  flex-direction: column;
  padding-bottom: 20px;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/xhain%201-600w.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.eventblockgradient {
  top: 0px;
  flex: 1;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0.00%,rgba(0, 0, 0, 0.25) 100.00%);
}
.eventblockh1 {
  color: #ffffff;
  z-index: 2;
  font-size: 22px;
  font-family: Lexend Deca;
}
.eventblockh2 {
  color: #9a9a9a;
  z-index: 2;
  font-size: 14px;
  margin-top: 10px;
  font-family: Lexend Deca;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 991px) {
  .eventblockpreview {
    width: 340px;
    height: 190px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 90px;
    padding-bottom: 15px;
  }
  .eventblockh1 {
    font-size: 17px;
  }
  .eventblockh2 {
    font-size: 10px;
    margin-top: 5px;
  }
}
@media(max-width: 767px) {
  .headermenulink {
    margin-left: var(--dl-space-space-unit);
  }
  .mobile {
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
  }
  .mobilemenu {
    flex: 0 0 auto;
    height: 0px;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    padding-top: 0px;
    flex-direction: column;
  }
  .menuopen {
    height: auto;
    padding-top: 20px;
  }
  .mobilemenuheader {
    line-height: 2;
    padding-left: 0px;
  }
}

