.events-l-e-d-co-hacking-evening-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/playground_assets/xhain%201-600w.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.events-l-e-d-co-hacking-evening-text {
  color: #ffffff;
  font-family: Lexend Deca;
}
.events-l-e-d-co-hacking-evening-text1 {
  color: #9a9a9a;
  font-family: Lexend Deca;
}

