<div>
  <link
    href="./eventsworkshops3d-model-your-l-e-d-project-in-fusion360.css"
    rel="stylesheet"
  />
  <div
    class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-container eventblockpreview"
  >
    <span
      class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-text eventblockh1"
    >
      <span>Beginner workshop -</span>
    </span>
    <span
      class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-text1 eventblockh1"
    >
      <span>3D model your LED project in Fusion360</span>
    </span>
    <span
      class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-text2 eventblockh2"
    >
      <span>at xHain hack & makespace</span>
    </span>
    <div class="eventblockgradient"></div>
  </div>
</div>
