<div>
  <link
    href="./eventsworkshops-how-to-plan-build-your-own-l-e-d-project.css"
    rel="stylesheet"
  />
  <div class="eventblockpreview">
    <span class="eventblockh1"><span>Beginner workshop -</span></span>
    <span
      class="eventsworkshops-how-to-plan-build-your-own-l-e-d-project-text1 eventblockh1"
    >
      <span>How to plan & build your own LED project</span>
    </span>
    <span class="eventblockh2"><span>at xHain hack & makespace</span></span>
    <div class="eventblockgradient"></div>
  </div>
</div>
