<div>
  <link
    href="./eventsworkshops-design-it-all-into-to-figma.css"
    rel="stylesheet"
  />
  <div
    class="eventsworkshops-design-it-all-into-to-figma-container eventblockpreview"
  >
    <span class="eventsworkshops-design-it-all-into-to-figma-text eventblockh1">
      <span>Beginner workshop -</span>
    </span>
    <span
      class="eventsworkshops-design-it-all-into-to-figma-text1 eventblockh1"
    >
      <span>Design it all. Intro to Figma</span>
    </span>
    <span
      class="eventsworkshops-design-it-all-into-to-figma-text2 eventblockh2"
    >
      <span>at xHain hack & makespace</span>
    </span>
    <div class="eventblockgradient"></div>
  </div>
</div>
