<div>
  <link href="./footer-social.css" rel="stylesheet" />
  <div class="footer-social-container">
    <span class="footer-social-text"><span>Stay updated</span></span>
    <div class="footer-social-container1">
      <a
        href="https://patreon.glowingkitty.com"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-social-link"
      >
        <img
          alt="image"
          src="/playground_assets/social_patreon.svg"
          class="footer-social-image socialmedia_icon"
        />
      </a>
      <a
        href="https://discord.glowingkitty.com"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-social-link1"
      >
        <img
          alt="image"
          src="/playground_assets/social_discord.svg"
          class="footer-social-image1 socialmedia_icon"
        />
      </a>
      <a
        href="https://instagram.glowingkitty.com"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-social-link2"
      >
        <img
          alt="image"
          src="/playground_assets/social_instagram.svg"
          class="footer-social-image2 socialmedia_icon"
        />
      </a>
      <a
        href="https://blog.glowingkitty.com"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-social-link3"
      >
        <img
          alt="image"
          src="/playground_assets/social_medium.svg"
          class="footer-social-image3 socialmedia_icon"
        />
      </a>
      <a
        href="https://git.glowingkitty.com"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-social-link4"
      >
        <img
          alt="image"
          src="/playground_assets/social_github.svg"
          class="footer-social-image4 socialmedia_icon"
        />
      </a>
    </div>
  </div>
</div>
