<div>
  <link href="./footer-web-links.css" rel="stylesheet" />
  <div class="footer-web-links-container">
    <a
      href="https://shop.glowingkitty.com/pages/imprint"
      target="_blank"
      rel="noreferrer noopener"
      class="footer-web-links-link"
    >
      <span>Imprint</span>
    </a>
    <a
      href="https://shop.glowingkitty.com/policies/privacy-policy"
      target="_blank"
      rel="noreferrer noopener"
      class="footer-web-links-link1"
    >
      <span>Privacy</span>
    </a>
    <a href="about.html" class="footer-web-links-navlink"><span>About</span></a>
  </div>
</div>
