<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-container">
    <div class="header-container1">
      <img
        alt="image"
        src="public/playground_assets/menu.svg"
        class="header-image"
      />
      <div class="header-container2">
        <a href="index.html" class="header-navlink">
          <img
            alt="image"
            src="public/playground_assets/logo1.svg"
            class="header-image1"
          />
        </a>
      </div>
      <div class="header-container3">
        <a href="about.html" class="header-navlink1 headermenulink">
          <span>About</span>
        </a>
        <a href="products.html" class="header-navlink2 headermenulink">
          <span>Products</span>
        </a>
        <a
          href="https://example.com"
          target="_blank"
          rel="noreferrer noopener"
          class="header-link headermenulink"
        >
          <span>Workshops</span>
        </a>
        <a
          href="https://example.com"
          target="_blank"
          rel="noreferrer noopener"
          class="header-link1 headermenulink"
        >
          <span>Get help</span>
        </a>
      </div>
    </div>
  </div>
</div>
