<div>
  <link href="./meetup-list.css" rel="stylesheet" />
  <div class="meetup-list-container">
    <div class="meetup-list-container1">
      <span class="meetup-list-text"><span>Join an upcoming event:</span></span>
    </div>
    <div class="meetup-list-container2">
      <div
        class="meetup-preview-container meetup-preview-root-class-name4"
      ></div>
      <div
        class="meetup-preview-container meetup-preview-root-class-name5"
      ></div>
      <div
        class="meetup-preview-container meetup-preview-root-class-name6"
      ></div>
    </div>
  </div>
</div>
