<div>
  <link href="./meetup-list.css" rel="stylesheet" />
  <div class="meetup-list-container">
    <div class="meetup-list-container01">
      <span class="meetup-list-text"><span>Join our events</span></span>
      <span class="meetup-list-text1">
        <span>Workshops, talks and more.</span>
      </span>
      <span class="meetup-list-text2">
        <span>From total beginner to advanced.</span>
      </span>
    </div>
    <div class="meetup-list-container02">
      <div class="meetup-list-container03">
        <div
          class="events-l-e-d-co-hacking-evening-container eventblockpreview events-l-e-d-co-hacking-evening-root-class-name"
        >
          <span class="events-l-e-d-co-hacking-evening-text eventblockh1">
            <span>LED co-hacking evening</span>
          </span>
          <span class="events-l-e-d-co-hacking-evening-text1 eventblockh2">
            <span>at xHain hack & makespace</span>
          </span>
          <div class="eventblockgradient"></div>
        </div>
      </div>
      <div class="meetup-list-container04">
        <div
          class="eventsworkshops-learn-p-c-b-design-with-ki-cad-container eventblockpreview"
        >
          <span class="eventblockh1"><span>Beginner workshop -</span></span>
          <span class="eventblockh1">
            <span>Learn PCB design with KiCad</span>
          </span>
          <span class="eventblockh2">
            <span>at xHain hack & makespace</span>
          </span>
          <div class="eventblockgradient"></div>
        </div>
      </div>
      <div class="meetup-list-container05">
        <div class="eventblockpreview">
          <span class="eventblockh1"><span>Beginner workshop -</span></span>
          <span
            class="eventsworkshops-how-to-plan-build-your-own-l-e-d-project-text1 eventblockh1"
          >
            <span>How to plan & build your own LED project</span>
          </span>
          <span class="eventblockh2">
            <span>at xHain hack & makespace</span>
          </span>
          <div class="eventblockgradient"></div>
        </div>
      </div>
      <div class="meetup-list-container06">
        <div
          class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-container eventblockpreview eventsworkshops3d-model-your-l-e-d-project-in-fusion360-root-class-name3"
        >
          <span
            class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-text eventblockh1"
          >
            <span>Beginner workshop -</span>
          </span>
          <span
            class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-text1 eventblockh1"
          >
            <span>3D model your LED project in Fusion360</span>
          </span>
          <span
            class="eventsworkshops3d-model-your-l-e-d-project-in-fusion360-text2 eventblockh2"
          >
            <span>at xHain hack & makespace</span>
          </span>
          <div class="eventblockgradient"></div>
        </div>
      </div>
      <div class="meetup-list-container07">
        <div
          class="eventsworkshops-design-it-all-into-to-figma-container eventblockpreview eventsworkshops-design-it-all-into-to-figma-root-class-name"
        >
          <span
            class="eventsworkshops-design-it-all-into-to-figma-text eventblockh1"
          >
            <span>Beginner workshop -</span>
          </span>
          <span
            class="eventsworkshops-design-it-all-into-to-figma-text1 eventblockh1"
          >
            <span>Design it all. Intro to Figma</span>
          </span>
          <span
            class="eventsworkshops-design-it-all-into-to-figma-text2 eventblockh2"
          >
            <span>at xHain hack & makespace</span>
          </span>
          <div class="eventblockgradient"></div>
        </div>
      </div>
      <div class="meetup-list-container08"></div>
      <div class="meetup-list-container09"></div>
    </div>
    <a
      href="https://events.glowingkitty.com"
      target="_blank"
      rel="noreferrer noopener"
      class="meetup-list-link button"
    >
      <span>Show upcoming events</span>
    </a>
  </div>
</div>
