<div>
  <link href="./need-help-with-a-project.css" rel="stylesheet" />
  <div class="need-help-with-a-project-container">
    <div id="help" class="need-help-with-a-project-topic-section"></div>
    <div class="need-help-with-a-project-container1">
      <span class="need-help-with-a-project-text">
        <span>Need help with an LED project?</span>
      </span>
      <div class="need-help-with-a-project-container2">
        <div class="need-help-with-a-project-container3">
          <span class="need-help-with-a-project-text1">
            <span>Option 1:</span>
          </span>
          <span class="need-help-with-a-project-text2">
            <span>Get 1 to 1 help from glowingkitty!</span>
          </span>
          <img
            alt="image"
            src="/playground_assets/twopeople.svg"
            class="need-help-with-a-project-image"
          />
          <a
            href="https://shop.glowingkitty.com/products/ask-a-mentor"
            target="_blank"
            rel="noreferrer noopener"
            class="need-help-with-a-project-link button"
          >
            <span>Book appointment</span>
          </a>
        </div>
        <div class="need-help-with-a-project-container4">
          <span class="need-help-with-a-project-text3">
            <span>Option 2:</span>
          </span>
          <span class="need-help-with-a-project-text4">
            <span>Join our community & ask around!</span>
          </span>
          <img
            alt="image"
            src="/playground_assets/discord.svg"
            class="need-help-with-a-project-image1"
          />
          <a
            href="https://discord.glowingkitty.com"
            target="_blank"
            rel="noreferrer noopener"
            class="need-help-with-a-project-link1 button"
          >
            <span>Join community</span>
          </a>
        </div>
      </div>
      <span class="need-help-with-a-project-text5">
        <span>Need help with an LED lamp or dev board by glowingkitty?</span>
      </span>
      <a href="products.html" class="need-help-with-a-project-navlink">
        <span>
          Check out the product pages for FAQ, documentation and more.
        </span>
      </a>
      <span class="need-help-with-a-project-text6">
        <span>Still have open questions?</span>
      </span>
      <span class="need-help-with-a-project-text7">
        <span>Chat with us via WhatsApp, or email us:</span>
      </span>
      <div class="need-help-with-a-project-container5">
        <a
          href="https://whatsapp.glowingkitty.com"
          target="_blank"
          rel="noreferrer noopener"
          class="need-help-with-a-project-link2"
        >
          <span>WhatsApp</span>
        </a>
        <a
          href="mailto:support@glowingkitty.com?subject="
          class="need-help-with-a-project-link3"
        >
          <span>Email</span>
        </a>
      </div>
    </div>
  </div>
</div>
