<div>
  <link href="./product-preview-image-front.css" rel="stylesheet" />
  <div class="product-preview-image-front-container">
    <div class="product-preview-image-front-container1">
      <span class="product-preview-image-front-text">
        <span>GlowCore</span>
      </span>
      <span class="product-preview-image-front-text1">
        <span>The easiest way to conrol LED strips!</span>
      </span>
      <div class="product-preview-image-front-container2">
        <a href="glow-core.html" class="product-preview-image-front-navlink">
          <span>Learn more</span>
        </a>
        <a
          href="http://shop.glowingkitty.com/products/glowcore"
          target="_blank"
          rel="noreferrer noopener"
          class="product-preview-image-front-link"
        >
          <span>Buy</span>
        </a>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/glowcore.png"
      class="product-preview-image-front-image"
    />
  </div>
</div>
