<div>
  <link href="./product-preview-image-background.css" rel="stylesheet" />
  <div class="product-preview-image-background-container">
    <div class="product-preview-image-background-container1">
      <span class="product-preview-image-background-text">
        <span>GlowTower</span>
      </span>
      <span class="product-preview-image-background-text1">
        <span>Set the mood for your whole room!</span>
      </span>
      <div class="product-preview-image-background-container2">
        <a
          href="glow-tower.html"
          class="product-preview-image-background-navlink"
        >
          <span>Learn more</span>
        </a>
        <a
          href="https://shop.glowingkitty.com/products/glowtower"
          target="_blank"
          rel="noreferrer noopener"
          class="product-preview-image-background-link"
        >
          <span>Buy</span>
        </a>
      </div>
    </div>
  </div>
</div>
