<div>
  <link href="./productbannerglowcore.css" rel="stylesheet" />
  <div class="productbannerglowcore-container">
    <div class="productbannerglowcore-container1">
      <span class="productbannerglowcore-text"><span>GlowCore</span></span>
      <span class="productbannerglowcore-text1">
        <span>The easiest way to control LED strips!</span>
      </span>
      <div class="productbannerglowcore-container2">
        <a
          href="https://shop.glowingkitty.com/products/glowcore"
          target="_blank"
          rel="noreferrer noopener"
          class="productbannerglowcore-link product_promoteblock_link"
        >
          <span>Learn more</span>
        </a>
        <a
          href="http://shop.glowingkitty.com/products/glowcore"
          target="_blank"
          rel="noreferrer noopener"
          class="productbannerglowcore-link1 product_promoteblock_link"
        >
          <span>Show prices</span>
        </a>
      </div>
    </div>
    <img
      alt="image"
      src="/playground_assets/glowcore-1100h.png"
      class="productbannerglowcore-image"
    />
  </div>
</div>
