<div>
  <link href="./productbannerglowlight.css" rel="stylesheet" />
  <div class="productbannerglowlight-container">
    <div class="productbannerglowlight-container1">
      <span class="productbannerglowlight-text"><span>GlowLight</span></span>
      <span class="productbannerglowlight-text1">
        <span>What a beautiful desk lamp!</span>
      </span>
      <div class="productbannerglowlight-container2">
        <a
          href="https://shop.glowingkitty.com/products/glowlight"
          target="_blank"
          rel="noreferrer noopener"
          class="productbannerglowlight-link product_promoteblock_link"
        >
          <span>Learn more</span>
        </a>
        <a
          href="https://shop.glowingkitty.com/products/glowtower"
          target="_blank"
          rel="noreferrer noopener"
          class="productbannerglowlight-link1 product_promoteblock_link"
        >
          <span>Show prices</span>
        </a>
      </div>
    </div>
  </div>
</div>
