<div>
  <link href="./productbannerglowtower.css" rel="stylesheet" />
  <div class="productbannerglowtower-container">
    <div class="productbannerglowtower-container1">
      <span class="productbannerglowtower-text"><span>GlowTower</span></span>
      <span class="productbannerglowtower-text1">
        <span>Set the mood for your whole room!</span>
      </span>
      <div class="productbannerglowtower-container2">
        <a
          href="https://shop.glowingkitty.com/products/glowtower"
          target="_blank"
          rel="noreferrer noopener"
          class="productbannerglowtower-link product_promoteblock_link"
        >
          <span>Learn more</span>
        </a>
        <a
          href="https://shop.glowingkitty.com/products/glowtower"
          target="_blank"
          rel="noreferrer noopener"
          class="productbannerglowtower-link1 product_promoteblock_link"
        >
          <span>Show prices</span>
        </a>
      </div>
    </div>
  </div>
</div>
