<div>
  <link href="./product-preview-image-background.css" rel="stylesheet" />
  <div class="product-preview-image-background-container">
    <div class="product-preview-image-background-container1">
      <span class="product-preview-image-background-text">
        <span>GlowTower</span>
      </span>
      <span class="product-preview-image-background-text1">
        <span>Set the mood for your whole room!</span>
      </span>
      <div class="product-preview-image-background-container2">
        <span class="product-preview-image-background-text2">
          <span>Learn more</span>
        </span>
        <span class="product-preview-image-background-text3">
          <span>Buy</span>
        </span>
      </div>
    </div>
  </div>
</div>
