.show-all-products-container {
  width: 100%;
  height: auto;
  display: flex;
  padding: 69px;
  position: relative;
  align-items: center;
  padding-top: 69px;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0.00%,rgba(0, 0, 0, 0.65) 100.00%),url("public/playground_assets/magiqwand-1500w.jpeg");
  background-position: center;
}
.show-all-products-text {
  color: #ffffff;
  font-size: 22px;
  font-family: Lexend Deca;
}
.show-all-products-text1 {
  color: #ffffff;
  margin-top: 39px;
  text-align: center;
  font-family: Lexend Deca;
  margin-bottom: 200px;
}
.show-all-products-root-class-name {
  display: none;
}
