.eventsworkshops-design-it-all-into-to-figma-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/playground_assets/figma-600w.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.eventsworkshops-design-it-all-into-to-figma-text {
  color: #ffffff;
  font-family: Lexend Deca;
}
.eventsworkshops-design-it-all-into-to-figma-text1 {
  color: #ffffff;
  font-family: Lexend Deca;
}
.eventsworkshops-design-it-all-into-to-figma-text2 {
  color: #9a9a9a;
  font-family: Lexend Deca;
}

