.main-c-t-a-button-container {
  display: flex;
  position: relative;
}
.main-c-t-a-button-button {
  color: #ffffff;
  font-size: 20px;
  background: linear-gradient(148.99deg, #C60000 11.01%, #B600C6 90.18%); ;
  box-shadow: 5px 5px 10px 0px #000000;
  font-family: Lexend Deca;
  padding-top: 10px;
  border-width: 0px;
  padding-left: 20px;
  border-radius: 10px;
  padding-right: Space-HalfUnit;
  padding-bottom: 10px;
}

