.meetup-list-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: 69px;
  padding-left: 46px;
  padding-right: 46px;
  flex-direction: column;
  padding-bottom: 69px;
  background-color: var(--dl-color-gray-brightgray);
}
.meetup-list-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 5;
  max-width: 330px;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.meetup-list-text {
  color: #ffffff;
  font-size: 30px;
  font-family: Lexend Deca;
  margin-bottom: 20px;
}
.meetup-list-text1 {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: Lexend Deca;
}
.meetup-list-text2 {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: Lexend Deca;
}
.meetup-list-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: center;
}
.meetup-list-container03 {
  flex: 0 0 auto;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  margin-bottom: 60px;
  flex-direction: column;
}
.meetup-list-container04 {
  flex: 0 0 auto;
  display: flex;
  z-index: 3;
  align-items: flex-start;
  margin-left: -90px;
  margin-bottom: 30px;
  flex-direction: column;
}
.meetup-list-container05 {
  flex: 0 0 auto;
  display: flex;
  z-index: 5;
  margin-top: 60px;
  align-items: flex-start;
  margin-left: -50px;
  margin-right: -50px;
  flex-direction: column;
}
.meetup-list-container06 {
  flex: 0 0 auto;
  display: flex;
  z-index: 3;
  align-items: flex-start;
  margin-right: -90px;
  margin-bottom: 30px;
  flex-direction: column;
}
.meetup-list-container07 {
  flex: 0 0 auto;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  margin-bottom: 60px;
  flex-direction: column;
}
.meetup-list-container08 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 4;
  position: absolute;
  background-color: rgba(32, 32, 32, 0.6);
}
.meetup-list-container09 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  position: absolute;
  background-color: rgba(32, 32, 32, 0.6);
}
.meetup-list-link {
  z-index: 5;
  text-decoration: none;
}
.meetup-list-root-class-name {
  width: 100%;
  height: auto;
}
@media(max-width: 991px) {
  .meetup-list-container04 {
    margin-left: -130px;
  }
  .meetup-list-container05 {
    margin-left: -120px;
    margin-right: -120px;
  }
  .meetup-list-container06 {
    margin-right: -130px;
  }
}
@media(max-width: 767px) {
  .meetup-list-container {
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
  }
  .meetup-list-container04 {
    margin-left: -150px;
  }
  .meetup-list-container05 {
    margin-left: -150px;
    margin-right: -150px;
  }
  .meetup-list-container06 {
    margin-right: -150px;
  }
}
