.meetup-list-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 46px;
  padding-left: 46px;
  padding-right: 46px;
  flex-direction: column;
  padding-bottom: 46px;
  background-color: #202020;
}
.meetup-list-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 930px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.meetup-list-text {
  color: #ffffff;
  font-family: Lexend Deca;
}
.meetup-list-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 930px;
  align-self: center;
  margin-top: 21px;
  align-items: flex-start;
  justify-content: flex-start;
}

@media(max-width: 767px) {
  .meetup-list-container {
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 45px;
  }
}
