.need-help-with-a-project-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: 45px;
  padding-left: 45px;
  padding-right: 45px;
  flex-direction: column;
  padding-bottom: 45px;
  background-color: var(--dl-color-gray-brightgray);
}
.need-help-with-a-project-text {
  color: #ffffff;
  font-family: Lexend Deca;
}

