.topic-separator-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 60px;
  padding-left: 34px;
  padding-right: 34px;
  flex-direction: column;
  padding-bottom: 60px;
  justify-content: center;
  background-color: #1c1c1c;
}
.topic-separator-text {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  font-family: Lexend Deca;
}


